// @import "fonts";

html,
body {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
  color: #000;

  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
