// @import "fonts";

html,
body {
  min-width: 320px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
  color: #000;

  background-color: grey;
  background-image: url("../img/bg-main.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 5616px 3744px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-width: 290px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
