.about {
  width: 100%;
  min-height: 500px;

  background-color: green;
}

.about__card {
  width: 100%;
  min-height: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;

  background-color: pink;
}

.about__card-overlay {
  position: relative;
}

.about__text {
  margin: 0 auto;
  text-align: center;
}

