.filter__link {
  color: black;
  text-shadow: 1px 1px 3px #ffffff;
  background-color: $main-color;
  border: 1px solid $main-color;
  box-shadow: 1px 1px 0 1px rgba($color: grey, $alpha: 0.5);

  &:hover,
  &:focus {
    color: #ffffff;
    text-shadow: 1px 1px 3px black;
    background-color: $logo-color;
    border: 1px solid $logo-color;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
}
