.main-header {
  width: 100%;
  min-height: 500px;

  margin: 0 auto;
  padding: 0;

  background-color: azure;
  // background-image: url("/img/bg-header.jpg");
}

.main-header__hero {
  min-height: 500px;
  margin: 0;
  padding: 0;
  padding-top: 200px;

  background-color: transparent;
}
