.page-header {
  width: 100%;
  min-height: 500px;

  margin: 0 auto;
  padding: 0;

  background-color: azure;
  background-image: url("../img/bg-header.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  box-shadow: 0 1px 1px 1px rgba(#000000, 0.3);

  &--gallery {
    min-height: 400px;
    background-image: url("../img/bg-gallery.jpg");
    background-position: 0 30%;
  }
}

.page-header__hero {
  min-height: 650px;
  margin: 0;
  padding: 0;
  padding-top: 180px;
  padding-bottom: 40px;

  background-color: transparent;
}

.page-header__title {
  color: white;
  text-shadow: 1px 1px 3px black;

  &--gallery {
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 40px;

    font-family: $main-font-bold;
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px 4px black;
    text-align: center;
  }
}

.page-header__text {
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.page-header__caption {
  padding: 20px 20px;
  border-radius: 5px;
  background-color: rgba($color:$logo-color, $alpha: 0.3);
}
