.price {
  width: 100%;
  min-height: 400px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;

  background-color: #f7aa03;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.price__title {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 40px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.price__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 320px;
  padding: 25px 30px;
  margin: 20px auto;

  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.08);
}

.price__head {
  width: 100%;
  margin-bottom: 10px;

  text-align: center;
}

.price__head h3 {
  font-size: 22px;
  font-weight: normal;
}

.price__para {
  width: 100%;
  margin-top: 30px;
  padding: 10px 20px;
  background: #fcfcfc;
  border: 1px solid #eee;
  box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.05);

  &--red {
    border-top: 5px solid #f75353;
  }

  &--lblue {
    border-top: 5px solid #32c8de;
  }

  &--green {
    border-top: 5px solid #51d466;
  }

  &--blue {
    border-top: 5px solid blueviolet;
  }
}

.price__para p {
  font-size: 13px;
  line-height: 28px;
  color: #999;
  font-style: italic;
}

.price__features {
  width: 100%;
  min-height: 80px;
  margin-top: 20px;
}

.price__features ul li {
  font-size: 14px;
  line-height: 40px;
  margin-left: 10px;
  color: #888;
}
