.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  min-height: 60px;
  margin-right: auto;

  &--footer {
    justify-content: flex-start;
  }
}

.social__link {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;

  background-repeat: no-repeat;
  border-radius: 50%;

  &--vk {
    background-color: #4a76a8;
    background-position: center;
    background-size: 40px 40px;
    opacity: 1;
  }

  &--whatsapp {
    background-color: green;
    background-size: 40px 40px;
    background-position: center;
    opacity: 1;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.social__link svg {
  margin: 0 auto;

  fill: #ffffff;
}

.social--footer .social__link--vk,
.social--footer .social__link--whatsapp {
  width: 40px;
  height: 40px;
  margin-right: 10px;

  background-color: transparent;
}

.social--footer .social__link svg {
  fill: grey;
}
