.subscription {
  width: 100%;
  min-height: 300px;
  // margin-bottom: 60px;

  background-color: pink;
}

.subscription__item {
  margin-bottom: 15px;

  &--phone {
    text-align: left;
  }
}

.subscription__title {
  margin: 0 auto;
  margin-bottom: 45px;
  padding-top: 15px;
  text-align: center;
}

.subscription__phone-title,
.subscription__social-title,
.subscription__address-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: $main-font-bold;
  text-align: center;
}

.subscription__address-text,
.subscription__phone-text {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
}

.subscription__button {
  margin-bottom: 30px;
}

.subscription__social-list {
  margin: 0 auto;
}
