.teachers {
  width: 100%;
  min-height: 300px;

  background-color: purple;
}

.teachers__card-img {
  width: 400px;
  height: auto;
  margin: 0 auto;

  border: 2px solid whitesmoke;
  border-radius: 5%;
}

.teachers__card-footer,
.teachers__card-title,
.teachers__card-text {
  text-align: center;
}

// .teachers__modal-body {
//   text-align: start;
// }
