.teachers {
  width: 100%;
  min-height: 300px;
  margin-bottom: 40px;

  background-color: transparent;
}

.teachers__title {
  margin: 40px auto;
  text-align: center;

  color: white;
  text-shadow: 1px 1px 3px black;
}

.teachers__card {
  padding-top: 10px;
}

.teachers__card-img {
  width: 400px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 15px;

  border: 2px solid whitesmoke;
  border-radius: 0.25rem;
}

.teachers__card-footer,
.teachers__card-title,
.teachers__card-text {
  text-align: center;
}
